name: test CI

on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pylint
          pip install -e

      - name: Run pytest
        run: |
          pytest life_expectancy --cov

      - name: Run pylint
        run: |
          pylint pylint life_expectancy.cleaning
